I am going to put this into a SQL database, I am just more comfortable with manipulating data using SQL

In [1]:
import pandas as pd
import sqlite3 as sl

In [2]:
#create database object
conn = sl.connect('covid.db')
c = conn.cursor()

here are the column names that need to be created in our table
'id', 
'sex', 
'patient_type', 
'entry_date', 
'date_symptoms', 
'date_died',
'intubed', 
'pneumonia', 
'age', 
'pregnancy', 
'diabetes', 
'copd',
'asthma', 
'inmsupr', 
'hypertension', 
'other_disease', 
'cardiovascular',
'obesity', 
'renal_chronic', 
'tobacco', 
'contact_other_covid',
'covid_res', 
'icu'

In [3]:
#create table and populate
covid = pd.read_csv('covid.csv', index_col=0, encoding='latin-1')

c.execute('CREATE TABLE covid (id int, sex int, patient_type int, entry_date datetime, date_symptoms datetime, date_died datetime, intubed int, pneumonia int, age int, pregnancy int, diabetes int, copd int, asthma int,inmsupr int, hypertension int, other_disease int, cardiovascular int, obesity int, renal_chronic int, tobacco int, contact_other_covid int, covid_res int, icu int)')
conn.commit()

covid.to_sql('covid',conn, if_exists='replace',index=False)

In [4]:
df = pd.read_sql(''' select * from covid limit 10;''',conn)
df

,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,diabetes,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,2,...,2,2,2,2,2,2,2,2,1,97
1,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,2,...,2,2,2,2,2,2,2,99,1,97
2,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,2,...,2,2,2,2,1,2,2,99,1,2
3,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,2,...,2,2,2,2,2,2,2,99,1,2
4,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,1,...,2,1,2,1,2,2,2,99,1,2
5,2,2,16-04-2020,16-04-2020,29-04-2020,2,1,47,97,1,...,2,2,2,2,2,2,2,99,1,1
6,2,2,22-04-2020,13-04-2020,9999-99-99,2,2,63,97,2,...,2,1,2,2,2,2,2,99,1,2
7,1,1,21-05-2020,18-05-2020,9999-99-99,97,2,56,2,2,...,2,1,2,2,2,1,1,1,1,97
8,1,1,22-04-2020,18-04-2020,9999-99-99,97,2,41,2,2,...,2,2,2,2,2,2,2,99,1,97
9,1,2,23-04-2020,18-04-2020,9999-99-99,1,1,39,2,2,...,2,2,2,2,1,2,2,99,1,2