Data from https://www.kaggle.com/tanmoyx/covid19-patient-precondition-dataset?select=covid.csv
this is a dataset with individual (de-identified) patient information of covid cases published by the Mexican government.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(42)
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [4]:
#reading the full data file into a dataframe.
data = pd.read_csv('covid.csv')
data

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566597,01ff60,2,1,13-05-2020,03-05-2020,9999-99-99,97,2,58,97,...,2,2,2,2,2,2,2,2,3,97
566598,047cd1,1,1,07-04-2020,06-04-2020,9999-99-99,97,2,48,2,...,2,2,2,2,2,2,2,2,3,97
566599,1beb81,1,2,14-05-2020,01-05-2020,9999-99-99,2,1,49,2,...,2,2,2,2,1,2,2,99,3,2
566600,16fb02,1,1,31-05-2020,29-05-2020,9999-99-99,97,1,43,2,...,2,2,2,2,2,2,2,2,3,97
566601,0021c9,2,1,16-05-2020,16-05-2020,9999-99-99,97,1,65,97,...,2,1,2,2,1,2,2,2,3,97

In [5]:
# filtering - dataframe of only patient records where diabetes is present 

db = data[data.diabetes.eq(1)]

db

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2
5,1beec8,2,2,16-04-2020,16-04-2020,29-04-2020,2,1,47,97,...,2,2,2,2,2,2,2,99,1,1
16,158eef,1,1,24-06-2020,15-06-2020,9999-99-99,97,2,49,2,...,2,2,2,2,2,2,2,1,1,97
19,075b9d,2,1,12-05-2020,02-05-2020,9999-99-99,97,2,63,97,...,2,1,2,2,2,2,2,99,1,97
31,16582b,1,2,21-04-2020,15-04-2020,9999-99-99,2,2,83,2,...,1,1,2,1,2,2,2,99,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566581,48721,1,1,26-06-2020,16-06-2020,9999-99-99,97,2,54,2,...,2,1,2,2,2,2,2,1,3,97
566591,5.60E+40,2,2,08-05-2020,08-05-2020,13-05-2020,1,1,48,97,...,2,1,2,2,2,2,2,2,3,1
566596,1.44E+80,2,1,05-05-2020,02-05-2020,9999-99-99,97,2,46,97,...,2,2,2,2,2,2,2,1,3,97
566597,01ff60,2,1,13-05-2020,03-05-2020,9999-99-99,97,2,58,97,...,2,2,2,2,2,2,2,2,3,97
566601,0021c9,2,1,16-05-2020,16-05-2020,9999-99-99,97,1,65,97,...,2,1,2,2,1,2,2,2,3,97